<head>
</head>
<body>
  <h1>Book Ticket</h1>
  <div class="container">
    <div class="left">
      <form (ngSubmit)="bookTicket()">
        <label for="trainId">Train ID:</label>
        <input type="number" id="trainId" [(ngModel)]="bghModel.TrainId" name="trainId" required>

        <h3>Passenger Details</h3>
        <div *ngFor="let passenger of passengers; let i = index">
          <label>Passenger {{ i + 1 }}</label>
          <div>
            <label for="name">Name:</label>
            <input type="text" id="name" [(ngModel)]="passenger.Name" name="name" required>
          </div>
          <div>
            <label for="age">Age:</label>
            <input type="number" id="age" [(ngModel)]="passenger.Age" name="age" (blur)="checkAgeValidity()" required>
            <div *ngIf="ageError">
              Age must be between 0 and 120.
            </div>
          </div>
          <div class="gender-inputs">
            <label for="gender">Gender:</label>
            <div>
              <input type="radio" id="male" value="M" [(ngModel)]="passenger.Gender" name="gender" required>
              <label for="male">Male</label>
            </div>
            <div>
              <input type="radio" id="female" value="F" [(ngModel)]="passenger.Gender" name="gender" required>
              <label for="female">Female</label>
            </div>
            <div>
              <input type="radio" id="others" value="O" [(ngModel)]="passenger.Gender" name="gender" required>
              <label for="others">Others</label>
            </div>
          </div>
          <button type="button" (click)="removePassenger(i)">Remove</button>
        </div>
        <p> </p>
        <div>
          <button type="button" (click)="addPassenger()" *ngIf="passengers.length < 6">Add Passenger</button>
          <button style="margin-left : 1rem;" type="submit">Book Ticket</button>
        </div>
        <p> </p>
      </form>
    </div>

    <div class="right">
      <h3>Passenger List</h3>
      <ul>
        <li *ngFor="let passenger of passengers; let i = index">
          <span>Passenger: {{ passenger.Name }}</span>
          <span>Age: {{ passenger.Age }}</span>
          <span>Gender: {{ passenger.Gender }}</span>
          <button style="margin-top: 1rem;" type="button" (click)="removePassenger(i)">Remove</button>
        </li>
      </ul>
    </div>
  </div>
</body>