body{
    background-image: url('https://pbs.twimg.com/media/EYoLyavVAAM3aGY.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* https://img.freepik.com/free-vector/gradient-blue-abstract-background_23-2149108576.jpg */
  
}
h1{
  color: rgb(1, 1, 19);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.table{
    background-color: rgba(40, 41, 42, 0.9);
    color: #f5f5f5;
    border-radius: 1%;
    
}
.table tbody tr:hover {
    background-color: #322f2f;
    cursor: pointer;
    transform: scale(1.05);
    border-radius:5% ;
    transition: transform 0.2s ease-in-out;
   
  }
  
  .table tbody tr {
    transition: transform 0.2s ease-in-out;
    
  }
  .search-box {
    display: flex;
    align-items: center;
    margin-left: 34%;
  }
  
  .search-input {
    margin-left: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .search-button {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
  }
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
.blink{
background-color: #ffcccc;
font-size: 24px;
font-weight: bold; 
color: red;
 padding: 10px;
  border: 1px
   solid red; 
   border-radius: 5px; 
   box-shadow: 2px 2px 2px 2px red;
   animation: blink 1s infinite;
}


  
  