body{
    background-image: url('https://media.istockphoto.com/id/625065772/photo/simple-blue-sky-gradient-light-blurred-background-easy-to-make.jpg?s=170667a&w=0&k=20&c=6--dgoBLxuDh4zrnDz7uEkYYXdPiZuKD0yMvFpZht2A=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  
}