<html>
    <body>
      <div class="container">
        <div class="panel bg-white">
          <div class="panel-body p-3">
            <form>
              
            </form>
          </div>
        </div>
         <h1><p style=" color: rgb(54, 54, 62); font-size: 1.5em; font-weight: 700;">Welcome to Train Reservation System
          <br> <span style="font-size: 0.7em; margin-left : 0.5rem; color:rgb(15, 15, 80)">
            Book your Tickets here!
          </span></p></h1>
      </div>
    </body>
</html>

