<body>
    <h1 style="text-align: center;" class="'mb-3">Train</h1>
    <div class="search-box">
        <input style="margin-left: 80px; padding : 8px 15px; background-color: #ddd; border-radius: 5px; outline : none; border : none;" type="text" class="input" id="TrainName" name="TrainName" placeholder="Search" [(ngModel)]="searchTerm">
        <button type="submit" class="search-button" (click)="searchTrains()">
            Search
        </button>
        <button style="background-color: red;" type="submit" class="search-button" (click)="reset()" >
            Reset
        </button>
    </div>
    <div class="container">
        <div class="container my-5">
            <table class="table" *ngIf="trainsDisplayForUser && trainsDisplayForUser.length>0">
                <thead>
                    <tr>
                        <th (click)="sortData('TrainName')">
                            TrainName
                            <span *ngIf="sortBy === 'TrainName'" [ngClass]="{'arrow-up': sortDirection === 'asc', 'arrow-down': sortDirection === 'desc'}"></span>
                        </th>
                        <th (click)="sortData('TrainId')">
                            Train Number
                            <span *ngIf="sortBy === 'TrainId'" [ngClass]="{'arrow-up': sortDirection === 'asc', 'arrow-down': sortDirection === 'desc'}"></span>
                        </th>
                        <th (click)="sortData('Origin')">
                            From
                            <span *ngIf="sortBy === 'Origin'" [ngClass]="{'arrow-up': sortDirection === 'asc', 'arrow-down': sortDirection === 'desc'}"></span>
                        </th>
                        <th (click)="sortData('Destination')">
                            To
                            <span *ngIf="sortBy === 'Destination'" [ngClass]="{'arrow-up': sortDirection === 'asc', 'arrow-down': sortDirection === 'desc'}"></span>
                        </th>
                        <th (click)="sortData('Departure')">
                            Departure Time
                            <span *ngIf="sortBy === 'Departure'" [ngClass]="{'arrow-up': sortDirection === 'asc', 'arrow-down': sortDirection === 'desc'}"></span>
                        </th>
                        <th (click)="sortData('Arrival')">
                            Arrival Time
                            <span *ngIf="sortBy === 'Arrival'" [ngClass]="{'arrow-up': sortDirection === 'asc', 'arrow-down': sortDirection === 'desc'}"></span>
                        </th>
                        <th (click)="sortData('SeatCapacity')">
                            Seat Capacity
                            <span *ngIf="sortBy === 'SeatCapacity'" [ngClass]="{'arrow-up': sortDirection === 'asc', 'arrow-down': sortDirection === 'desc'}"></span>
                        </th>
                        <th (click)="sortData('SeatRate')">
                            Price
                            <span *ngIf="sortBy === 'SeatRate'" [ngClass]="{'arrow-up': sortDirection === 'asc', 'arrow-down': sortDirection === 'desc'}"></span>
                        </th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="row" *ngFor="let train of trainsDisplayForUser;let i=index">
                        <td>{{ train.TrainName}}</td>
                        <td>{{ train.TrainId}}</td>
                        <td>{{ train.Origin}}</td>
                        <td>{{ train.Destination}}</td>
                        <td>{{ train.Departure | date:'yyyy-MM-dd HH:mm'}}</td>
                        <td>{{ train.Arrival | date:'yyyy-MM-dd HH:mm'}}</td>
                        <td>{{ train.SeatCapacity}}</td>
                        <td>&#x20B9;{{ train.SeatRate}}</td>
                        <td><button class="btn btn-info" (click)="showTrainId(train)">Book</button></td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="!trainsDisplayForUser || trainsDisplayForUser.length <=0">No Train Found</p>
        </div>
    </div>
</body>
