<body>
    <h1 style="text-align: center;" class="'mb-3">All Booking</h1>
    <div class="search-box">
        <input style="margin-left: 80px; padding : 8px 15px; background-color: #ddd; border-radius: 5px; outline : none; border : none; width : 220px; ;" type="number" class="input" id="PNR" name="PNR" placeholder="Search bookings by PNR" [(ngModel)]="searchTerm">
        <button type="submit" class="search-button" (click)="searchTrains()">Search</button>
        <button type="submit" class="search-button" (click)="reset()">Reset</button>
    </div>
    <div class="container">
        <div class="container my-5">
            <div class="card-container">
                <div class="card" *ngFor="let train of bookingsDisplay">
                    <div class="card-body">
                        <h5 class="card-title">PNR: {{ train.PNR }}</h5>
                        <p class="card-text">Booking Date: {{ train.BookingDate | date:'yyyy-MM-dd HH:mm'}}</p>
                        <p class="card-text">Ticket Count: {{ train.ticketCount }}</p>
                        <p class="card-text">Train ID: {{ train.TrainId }}</p>
                        
                    </div>
                </div>
            </div>
            <p *ngIf="!bookingsDisplay || bookingsDisplay.length <= 0" class="blink" >No Booking Found</p>
        </div>
    </div>
</body>