<body>
    <h1>Train</h1>
    <div class="search-box">
        <input style="margin-left: 80px;" type="text" class="input" id="PNR" name="PNR" placeholder="Enter PNR number" [(ngModel)]="PNR">
        <button type="submit" class="search-button btn btn-primary" (click)="searchPNR(PNR)">
            Search
        </button>
        <button type="submit" class="search-button btn btn-danger" (click)="reset()">
            Reset
        </button>
    </div>
    <div class="container">
        <div class="box">
            <div *ngIf="pnrDisplay && pnrDisplay.length>0">
                <div *ngFor="let train of pnrDisplay; let i=index">
                    <h2>Train Details</h2>
                    <p><strong>Train Name:</strong> {{ train.TrainName }}</p>
                    <p><strong>Train Number:</strong> {{ train.TrainId }}</p>
                    <p><strong>From:</strong> {{ train.Origin }}</p>
                    <p><strong>To:</strong> {{ train.Destination }}</p>
                    <p><strong>Departure Time:</strong> {{ train.Departure | date:'yyyy-MM-dd HH:mm' }}</p>
                    <p><strong>Arrival Time:</strong> {{ train.Arrival | date:'yyyy-MM-dd HH:mm' }}</p>
                    <p><strong>PNR:</strong> {{ train.PNR }}</p>
                    <p><strong>Booking Date:</strong> {{ train.BookingDate | date:'yyyy-MM-dd' }}</p>

                    <h2>Passenger Details</h2>
                    <div *ngFor="let passenger of train.PassengerDetails; let j=index">
                        <p><strong>Passenger {{ j + 1 }}:</strong></p>
                        <p><strong>Name:</strong> {{ passenger.Name }}</p>
                        <p><strong>Age:</strong> {{ passenger.Age }}</p>
                        <p><strong>Gender:</strong> {{ passenger.Gender }}</p>
                    </div>
                    <hr>
                </div>
            </div>
            <p *ngIf="!pnrDisplay || pnrDisplay.length <= 0">No booking details found</p>
        </div>
    </div>
</body>
