<body>
    <h1 style="text-align: center;" class="mb-3">Update Train</h1>
    <div class="container">
                <form #form="ngForm" (ngSubmit)="updateTrain()">
                    <div class="mb-3">
                      <label for="Id" class="form-label">Id</label>
                      <input type="number" class="form-control" id="Id" name="Id" [(ngModel)] ="EditTrainRequest.Id" required>
                      <div *ngIf="!EditTrainRequest.TrainName && isFormSubmitted" style="color:red;">Id is required!</div>
                    </div>
                    <div class="mb-3">
                      <label for="TrainName" class="form-label">TrainName</label>
                      <input type="text" class="form-control" id="TrainName" name="TrainName" [(ngModel)] ="EditTrainRequest.TrainName" required>
                      <div *ngIf="!EditTrainRequest.TrainName && isFormSubmitted" style="color:red;">TrainName is required!</div>
                    </div>
                    <div class="mb-3">
                      <label for="TrainId" class="form-label">Train Number</label>
                      <input type="text" class="form-control" id="TrainId" name="TrainId" [(ngModel)] ="EditTrainRequest.TrainId" required>
                      <div *ngIf="!EditTrainRequest.TrainId && isFormSubmitted" style="color:red;">Train Number is required!</div>
                    </div>
                    <div class="mb-3">
                      <label for="Origin" class="form-label">Origin</label>
                      <input type="text" class="form-control" id="Origin" name="Origin" [(ngModel)] ="EditTrainRequest.Origin" required>
                      <div *ngIf="!EditTrainRequest.Origin && isFormSubmitted" style="color:red;">Originis required!</div>
                    </div>
                    <div class="mb-3">
                        <label for="Destination" class="form-label">Destination</label>
                        <input type="text" class="form-control" id="Destination" name="Destination" [(ngModel)] ="EditTrainRequest.Destination" required>
                        <div *ngIf="!EditTrainRequest.Destination && isFormSubmitted" style="color:red;">Destination is required!</div>
                    </div>
                    <div class="mb-3">
                        <label for="Departure" class="form-label">Departure</label>
                        <input type="datetime-local" class="form-control" id="Departure" name="Departure" [(ngModel)] ="EditTrainRequest.Departure" required>
                        <div *ngIf="!EditTrainRequest.Departure && isFormSubmitted" style="color:red;">Departure is required!</div>
                    </div>
                    <div class="mb-3">
                        <label for="Arrival" class="form-label">Arrival</label>
                        <input type="datetime-local" class="form-control" id="Arrival" name="Arrival" [(ngModel)] ="EditTrainRequest.Arrival" required>
                        <div *ngIf="!EditTrainRequest.Arrival && isFormSubmitted" style="color:red;">Arrival is required!</div>
                    </div>
                    <div class="mb-3">
                        <label for="SeatCapacity" class="form-label">SeatCapacity</label>
                        <input type="number" class="form-control" id="SeatCapacity" name="SeatCapacity" [(ngModel)] ="EditTrainRequest.SeatCapacity" required>
                        <div *ngIf="!EditTrainRequest.SeatCapacity && isFormSubmitted" style="color:red;">SeatCapacity is required!</div>
                    </div>
                    <div class="mb-3">
                        <label for="SeatRate" class="form-label">SeatRate</label>
                        <input type="number" class="form-control" id="SeatRate" name="SeatRate" [(ngModel)] ="EditTrainRequest.SeatRate" required>
                        <div *ngIf="!EditTrainRequest.Arrival && isFormSubmitted" style="color:red;">Price is required!</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Train</button>
                    <button
        type="button"
        class="btn btn-danger"
        (click)="deleteTrain(EditTrainRequest.Id)"
      >
        Delete
      </button>
                </form>
            </div>    
  </body>